:root {
  --background--color: rgba(17, 25, 40, 0.9);
  --transparant-color: rgba(17, 25, 40, 0.5);
  --transparant2-color: rgba(17, 25, 40, 0.3);
  --border-white: #dddddd35;
  --font-color1: #a5a5a5;
  --button-send: #5183fe;

  --soft-blue: #5183fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: var(--background--color);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
